<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
        Basic settings to scale wepage to browser size, and to use UtF-8 and main.css
        this code applies to all html files in the templates folder!
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>