<!DOCTYPE html>
<head>
    <title>Home</title>
</head>
<body>
    <div class="container" style="display: flex;">
        <div style="width: 35%;">
            {% include "partials/sidebar.html" %}
        </div>
        <div style="flex-grow: 1;">
            <h2 style="text-align:center">QUEST:</h2>
            <p rows = 10, cols = 50 style="text-align:center">{{quest}}</p>
            <h2 style="text-align:center">Rules: </h2>
            <p rows = 10, cols = 50 style="text-align:center">{{rules}}</p>

            <h3 style="text-align:center">
            <form method='POST' enctype='multipart/form-data'>
                {{form.hidden_tag()}}
                {{form.file()}}
                {{form.submit()}}
            </form>
            </h3>
        </div>
</body>
</html>