<!DOCTYPE html>
<head>
    <title>Watch</title>
</head>
<body>
    <h1 style="text-align:center">Veiwing Submissions</h1>
    <h2 style="text-align:center"> {{user_input}} </h2style>
    <div style="text-align: center">
        {% if media == 1: %}
            <img src="{{url_for('static', filename=user_input)}}">
        {% elif media == 2: %}
            <video width="320" height="240" controls>
                <source src="{{url_for('static', filename=user_input)}}">
            </video>
        {% elif media == 3: %}
            <audio controls>
                <source src="{{url_for('static', filename=user_input)}}">
            </audio>
        {% else: %}
            <h1>Unsupported fromat</h1>
        {% endif %}
        


        <h3>Load Another Submission</h3>
            <form method="post" action="#">
                {%if curr != 0:%}
                    <button type="submit" name="submit_button" value="PREV">PREV</button>
                {% endif %}
                {%if curr != files:%} 
                    <button type="submit" name="submit_button" value="NEXT">NEXT</button>
                {% endif %}
                <h4> Upload Another Submission:
                    <button type="submit" name="submit_button" value="NEW">UPLOAD</button>        
                <h4>
                <h5> UPVOTE:
                    <button type="submit" name="submit_button" value="UP">UPVOTE</button>        
                <h5>
            </form>
        <h4    

    </body>
</html>

    </div>
</body>
</html>