body {
    background-color: #262626;
}

button {
    color: white;
    background-color: #858282;
    border: 3px solid #858282;
    border-radius: 10px;  
}

button:hover {
    color: white;
    background-color: #9d9b9b;
    border: 3px solid #9d9b9b;
    border-radius: 10px;
    cursor: pointer;
}

/* Possibly remove all of below (Not used?) */

.column {
    float: left;
    padding: 10px;
    height: 600px;
}

.left {
    width: 35%;
}

.right {
    width: 65%;
}